html {
    height: 100%;
}


body {
    background-color: #EAF6F6;
}

@media screen and (min-width:768px) {
    body {
        background-color: #D9D9D9;

    }
}

@media screen and (min-width:992px) {
    body {
        background-color: #F8EEE7;

    }
}

@media screen and (min-width:1200px) {
    body {
        background-color: #CAEBF2;

    }
}

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');

.logo {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    border: 1px dotted;
    border-radius: 0px 10px 0px 10px;
    padding-left: 7px;
    padding-right: 7px;
    
    
}
a{text-decoration: none;}




.home {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

.row {
    height: 100px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 7%;
    background: #66BFBF;
    opacity: 0.9;

}

header {
    height: 100px;
    text-align: center;

}

nav {
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    

}

nav a:hover {
    text-shadow: 1px 1px 1px black;
}


main {
    text-align: center;
    padding-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}



.box img {
    transition: 0.5s;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    
}
.box img:hover {
    transform: scale(1.1,1.1);
}

.boxa{
    overflow: hidden;
}

.boxa img {
    width: 200px;
    height: 300px;
    transition: 0.5s;
    
}
.boxa img:hover {
    transform: scale(1.1,1.1);
    
}

.box a {
    text-decoration: none;
}

footer {
    background-color: rgba(0, 0, 0, 0.728);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 10px;
}

h1 {
    font-size: 35px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    background: #009c88;
    border-radius: 20px;
}

.top:hover {
    background: #FF0063;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    margin: 10px;
}

.reg a {
    text-decoration: none;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-color: #EAF6F6;
    border-radius: 30px;
    margin: 10px;
    

}

.reg a:hover {
    background-color: #FF0063;

}

.artist {
    background: #66BFBF;
    padding: 10px;
}

.title {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 5px;
    font-weight: 700;

}

.des {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 20px;
    text-align: center;
}

.what {
    background-color: #C4DFAA;
    padding: 20px;
}



footer p {
    font-size: 10px;
    text-align: center;
    color: rgb(198, 198, 198);
}




td {
    text-align: justify;
    padding: 30px;
}

th {
    text-align: justify;
    padding-left: 30px;
    font-size: 20px;

}

.price {
    border: 1px #D3CEDF;
}

.contain {
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 190px 400px 200px;
    column-gap: 9px;
    row-gap: 10px;
}

.el1 {
    grid-column-start: 1;
    grid-column-end: 3;

}

.el2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border-right: 5px solid #0375b2;
    text-align: center;
    box-sizing: border-box;
}

.el2:hover {
    border-right: 10px solid #0375b2;
    transition: 1s;


}

ul {
    display: inline;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
}

ul a,
.el2 p,
li {
    text-decoration: none;
    color: #0375b2;
}




.sub-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px 100px;
}

.el3 {}

.el4 {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.el5 {
    grid-column-start: 1;
    grid-column-end: 3;

}

.a1 {
    background-color: #009c88;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
    color: aliceblue;
    

}

.a1:hover {
    background-color: #FF0063;
    
    border-radius: 100px;
    color: aliceblue;
    box-shadow: 1px 1px 10px 1px black;
    transition: 0.5s;
    box-sizing: border-box;
}

.zzz {
    width: 33%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 0px;
}

.zzz:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.zzz img {
    width: 100px;
    height: 250px;
    padding-top: 10px;
}

form{
    text-align: left;
   padding-left: 30%;
   padding-right: 30%;
}


.topi {
    position: absolute;
    top: 1px;
    right: 10px;
    color: rgb(254, 250, 250);
    text-shadow: 1px 1px 1px #060606;
}

input,
label,
option {
    padding: 5px;
}




details {
    text-align: left;
    padding: 10px;
}
table{
    margin-left: auto;
    margin-right: auto
    ;
}

table img {
    width: 500px;
    height: 350px

}

.ml{
    font-size: 30px;
    color:#0375b2 ;
}
.contact{
    background-color:#C4DFAA;
}

.zoom p, .zoom{
    color: #0375b2;
}
